.first_fold_mark {
    position: fixed;
    width: 30px;
    border-top: 2px solid grey;
    margin-left: -90px;
    // top: 470px;
}

.second_fold_mark {
    position: fixed;
    width: 30px;
    border-top: 2px solid grey;
    margin-left: -90px;
    // top: 686px;
}

.third_fold_mark {
    position: fixed;
    width: 30px;
    border-top: 2px solid grey;
    margin-left: -90px;
    // margin-top: 937px;
}

.company_address {
    margin-left: 50px !important;
}

.information_block1 {
    display: flex;
    // justify-content: space-between;

}

.information_block_1 {
    margin: calc(100% - 100px);
}


.shipping_invoice_address {
    width: 300px;
    padding-left: 20px;
    padding-top: 5px;
    vertical-align: text-top;
}

.delivery_address {
    margin-left: 30px;
}

.shipping_address {
    margin-left: 50px;
}

.invoice_address {
    vertical-align: text-top;
    padding-top: 5px;
    width: 300px;
}

.company_details {
    margin-left: 30px;
}

.footer {
    padding-right: 65px !important;
}

.page_number {
    margin-left: 30px;
}

.main_table {
    tbody td {
        vertical-align: text-top !important;
    }
}